# nylas
APP_ID=
APP_SECRET=
TOKEN=
# sqlite
DB_NAME=test.db
# email
SENDER_NAME="Balaji S. Srinivasan"
SENDER_EMAIL=balaji@21.co
CC_NAME="Tyler Pate"
CC_EMAIL=tyler@21.co
SALESFORCEIQ_EMAIL=tyler@21.co